@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background-color: #00000d;
  background-image: url(../images/tree.svg);
  background-size: cover;
  background-position: 2rem 4rem;
  background-repeat: no-repeat;

  font-family: "Red Hat Display", sans-serif;
  color: white;
  user-select: none;
}
