.main-container {
  height: 100vh;
  padding: 4rem;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "title logo"
    "links logo";

  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 2rem;

    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "title"
      "logo"
      "links";
  }

  h1 {
    font-size: 3.5rem;
    grid-area: title;
    align-self: flex-end;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .logo-container {
    grid-area: logo;
  }

  .text-container {
    grid-area: links;
    align-self: flex-start;

    p,
    a {
      font-size: 2.25rem;
      line-height: 1.25rem;
      cursor: pointer;

      // a specific styles
      text-decoration: none;
      color: white;
      // end

      &.disabled {
        color: rgba($color: white, $alpha: 0.1);
        cursor: initial;
      }

      &.second {
        padding-left: 1rem;
      }

      &.third {
        padding-left: 2rem;
      }
    }
  }
}
