.navbar {
  background-color: #010111;
  color: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 0 2px 2px #010111;

  .logo {
    img {
      max-height: 2rem;
    }
  }

  .spacer {
    flex: 1;
  }

  .section {
    margin-left: 1rem;

    &:before {
      width: 10px;
      height: 1px;
      background-color: white;
      top: 5px;

      &:hover {
        width: 100%;
      }

      transition: width 1s;
    }
  }
}